<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://kit.fontawesome.com/03291d8881.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap" rel="stylesheet">
        <title>MercadoSuperLiebre</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
     
    </head>
<body>
    <header class= "main-header">
        <div class= "main-header-top-bar" ></div>
        <a href="./"><img class="logo" src="\images\logo-mercado-liebre.svg"> </img> </a>
                <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Mercadoliebre%202." class="float" target="_blank"><i class="fa fa-whatsapp my-float"></i></a> 
                        <h3> <i class="fas fa-hand-holding-usd"></i>
                             Comprá en cuotas y sin tarjeta de crédito
                        </h3>
         </div>
         <a href="#" class="hamburger-botton">
            <i class= "fas fa-bars"></i>
         </a>
         <nav class= "main-nav-bar">
            <ul class="left-nav-bar">
                <li> <a href="#"></a>Ofertas</a></li>
                <li> <a href="#"></a>Tiendas Oficiales </a></li>
                <li> <a href="#"></a>Vender </a></li>
                <li> <a href="#"></a>Ayuda </a></li>
            </ul>
            <ul class="right-nav-bar">
                <li> <a href="./register.html"> Creá tu Cuenta <i class="fas fa-credit-card"></i></a> </li>      
                <li> <a href="#"></a> Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                <li> <a href="#"></a>Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
            </ul>
        </nav>
    </header>
    <main>
            <section class="pantalladivididalogin">
                <div class="formlogin">
                    <form action="" method=""> 
                        <br>
                        <br>
                        <span class="titlelogin"> Ingresa a MercadoSuperLiebre:</span> <br>
                        <p> <label for="usuario">Ingresa tu usuario:</label> <br>
                            <input type="text" name="usuario" placeholder="Nombre de usuari@"> </p> <br>
                        <p> 
                            <label for="clave">Ingresa tu contraseña:</label> <br>
                            <input type="password" name="clave" placeholder="Contraseña:"> </p> <br>
                        <p>
                            <button type="reset">Ingresar</button>
                            <button type="submit"> <a href="/home.html"> Enviar </a></button> </p>
                    </form>
                </div>
               <!-- <div class="imagenlogin"><img src="/images/fondologin.jpg" width="450px" height="300px"alt=""></div> -->
            </section>
    </main>
     <footer>
        <k class="fas fa-credit-card"> </k> <br>
        <b> Pagá con tarjeta o efectivo
        </b><br>
        Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! <br>
        <br>
        <k class="fas fa-gift"></k> <br>
        <b> Envío gratis desde $ 2.500 </b><br>
        Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. <br>
        <br>
        <k class="fas fa-user-shield"></k> <br>
        <b> Seguridad, de principio a fin </b><br>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@. <br>
        <br>
        <p class="copy"> Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>