<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/03291d8881.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap" rel="stylesheet">
    <title>MercadoSuperLiebre</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</head>
    <body>
        <header class= "main-header">
            <div class= "main-header-top-bar" ></div>
            <a href="./"><img class="logo" src="\images\logo-mercado-liebre.svg"> </img></a>
                    <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Mercadoliebre%202." class="float" target="_blank"><i class="fa fa-whatsapp my-float"></i></a> 
                            <h3> <i class="fas fa-hand-holding-usd"></i>
                                 Comprá en cuotas y sin tarjeta de crédito
                            </h3>
             </div>
             <a href="#" class="hamburger-botton">
                <i class= "fas fa-bars"></i>
             </a>
             <nav class= "main-nav-bar">
                <ul class="left-nav-bar">
                    <li> <a href="#"></a>Ofertas</a></li>
                    <li> <a href="#"></a>Tiendas Oficiales </a></li>
                    <li> <a href="#"></a>Vender </a></li>
                    <li> <a href="#"></a>Ayuda </a></li>
                </ul>
                <ul class="right-nav-bar">
                    <li> <a href="#"> </a> Creá tu Cuenta <i class="fas fa-credit-card"></i></a> </li>      
                    <li> <a href="./login.html"> Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                    <li> <a href="#"></a>Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
                </ul>
            </nav>
        </header>
        


<main>
    <div class="contieneform">
        
            <form action="" method="">
                <br>
                <v>REGISTRO DE USUARIOS </v> <br><br>
                <q> 
                    <input type="text" name="nombre_apellido" placeholder="Nombre y apellido:"> </p>

                <q> 
                    <input type="text" name="usuario" placeholder="Nombre de usuari@:"> </p>

                <q> 
                    <input type="text" name="domicilio" placeholder="Domicilio:"> </p>

                <q> 
                    <input type="date" name="date" placeholder="Fecha de Nacimiento:"> </p>

                <t> Perfil del usuario:</t><br><br>
                    <span> Comprar <input type="radio" name="perfil" value="Comprar"> </span><br>
                    <span> Vender <input type="radio" name="perfil" value="Vender" checked></span><br>
        


                <t> Categorías de interés (puede elegir más de una) </t> <br><br><br>
                    <r> Electro <input type="checkbox" name="cat_interes" value="Electro"> </r> <br>
                        
                    <r> Moda 
                        <input type="checkbox" name="cat_interes" value="Moda"> </r><br>
                    <r> Hogar
                        <input type="checkbox" name="cat_interes" value="Hogar"> </r><br>
                    <r> Jugueteria
                        <input type="checkbox" name="cat_interes" value="Jugueteria"> </r><br>
                    <r> Vida Sana
                        <input type="checkbox" name="cat_interes" value="Vida Sana"> </r><br>
        
        
        

                <q> 
                    <input type="file"  id="foto" name="foto" accept=".png, .jpg" placeholder="Foto de Usuario"> </p>  

                <q> 
                    <input type="password" name="clave" placeholder="Contraseña:"> </p>

                <q> 
                   
                    <input type="password" name="clave" placeholder="Confirmar contraseña:"></p>
            
                <q>
                    <button type="reset">Borrar Datos</button>
                    <button type="submit"> <a href="/home.html"> Enviar </a></button> </p>

            </form>
        </div>
 </main>


 
 <footer>
    <k class="fas fa-credit-card"></k> <br>
          <b> Pagá con tarjeta o efectivo</b><br>
    Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! <br>
        <br> <br>
        <k class="fas fa-gift"></k> <br>
    <b> Envío gratis desde $ 2.500 </b><br>
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. <br>
        <br><br>
        <k class="fas fa-user-shield"></k> <br>
    <b> Seguridad, de principio a fin </b><br>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@. <br>
           <br> <br>    
    <p #copy>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>   
    
</footer>
</body>
</html>