<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/03291d8881.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500&display=swap" rel="stylesheet">
    <title>MercadoSuperLiebre</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 
</head>
    <body>
        <header class= "main-header">
            <div class= "main-header-top-bar" ></div>
            <a href="./"><img class="logo" src="\images\logo-mercado-liebre.svg"> </img></a>
                    <a href="https://api.whatsapp.com/send?phone=5195508107&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Mercadoliebre%202." class="float" target="_blank"><i class="fa fa-whatsapp my-float"></i></a> 
                            <h3> <i class="fas fa-hand-holding-usd"></i>
                                 Comprá en cuotas y sin tarjeta de crédito
                            </h3>
             </div>
             <a href="#" class="hamburger-botton">
                <i class= "fas fa-bars"></i>
             </a>
             <nav class= "main-nav-bar">
                <ul class="left-nav-bar">
                    <li> <a href="#"></a>Ofertas</a></li>
                    <li> <a href="#"></a>Tiendas Oficiales </a></li>
                    <li> <a href="#"></a>Vender </a></li>
                    <li> <a href="#"></a>Ayuda </a></li>
                </ul>
                <ul class="right-nav-bar">
                    <li> <a href="#"> </a> Creá tu Cuenta <i class="fas fa-credit-card"></i></a> </li>      
                    <li> <a href="./login.html"></a> Ingresá <i class="fas fa-sign-in-alt"></i> </a></li>
                    <li> <a href="#"></a>Mis compras <i class="fas fa-shopping-basket"></i> </a></li>
                </ul>
            </nav>
        </header>
        


<main>
    <form action="" method="">
        <p> <label for="nombre_apellido">Nombre y apellido:</label>
            <input type="text" name="nombre_apellido"> </p>

        <p> <label for="usuario">Nombre de usuari@:</label>
            <input type="text" name="usuario"> </p>

        <p> <label for="domicilio">Domicilio:</label>
            <input type="text" name="domicilio"> </p>

        <p> <label for="date">Fecha de Nacimiento:</label>
            <input type="date" name="date"> </p>

        <p> Perfil del usuario: </p>
            <span> Comprar <input type="radio" name="perfil" value="Comprar"> </span>
            <span> Vender <input type="radio" name="perfil" value="Vender" checked></span>
        
        <p> Categorías de interés (puede elegir más de una) </p>
            <span> Electro
                <input type="checkbox" name="cat_interes" value="Electro"> </span>
            <span> Moda 
                <input type="checkbox" name="cat_interes" value="Moda"> </span>
            <span> Hogar
                <input type="checkbox" name="cat_interes" value="Hogar"> </span>
            <span> Jugueteria
                <input type="checkbox" name="cat_interes" value="Jugueteria"> </span>
            <span> Vida Sana
                <input type="checkbox" name="cat_interes" value="Vida Sana"> </span>
        
        <p> <label for="foto">Foto de Usuario</label>
            <input type="file"  id="foto" name="foto" accept=".png, .jpg"> </p>  

        <p> 
            <label for="clave">Contraseña:</label>
            <input type="password" name="clave"> </p>
        
        <p> 
            <label for="clave">Confirmar contraseña:</label>
            <input type="password" name="clave"> </p>
       
        <p>
            <button type="reset">Borrar Datos</button>
            <button type="submit"> <a href="/home.html"> Enviar </a></button> </p>

    </form>
 </main>


 
 <footer>
    <k class="fas fa-credit-card"></k> <br>
          <b> Pagá con tarjeta o efectivo</b><br>
    Con MercadoLiebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! <br>
        <br> <br>
        <k class="fas fa-gift"></k> <br>
    <b> Envío gratis desde $ 2.500 </b><br>
    Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos. <br>
        <br><br>
        <k class="fas fa-user-shield"></k> <br>
    <b> Seguridad, de principio a fin </b><br>
        ¿No te gusta? ¡Devolvelo! En MercadoLiebre, no hay nada que no puedas hacer, porque estás siempre protegid@. <br>
           <br> <br>    
    <p #copy>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>   
    
</footer>
</body>
</html>